@model SocialInsight.Web.UI.Controllers.DashboardModel

@{
    ViewBag.Title = "Dashboard";
}

<div class="dashboard">
	@if (Model.Products.Any())
	{
	    foreach(var product in Model.Products)
	    {
			<div class="scored-product" data-product-id="@product.Id">
				<div class="product-details">
				    <a href="@product.ProductUrl" class="product-image" target="_top"><img alt="@product.Name" src="@product.ImageUrl"/></a>
					<a href="@product.ProductUrl" class="product-name" target="_top">@product.Name</a>	
                    <span class="price">$@string.Format("{0:0.00}", product.Price)</span>
				</div>
				
				<div class="actions">
					<div class="product-score" title="The social insight score of this product"><img alt="Score icon" src="@Url.Content("~/static/images/star.png")"  /> Social Meter: <span>@String.Format("{0:0}", product.Score)</span></div>
                    <a class="ask link" title="Ask your friends a question about this product">Ask</a>
				</div>
			</div>
	    }	
	}
    else
	{
		<div class="no-products">There are no products to get insight about. To start getting insight about products you want, add products to the <span class="app-name">Social Insight</span> catalog</div>
	}
</div> 

<div class="question-dialog" title="Ask a question">
	<span>What do you want to ask about the product?</span>
	<input class="question" type="text"/>
</div>

<div class="question-error-dialog" title="Can not ask question">
	<span>Can not ask question. Please try again later</span>
</div>

<script type="text/javascript" src="@Url.Content("~/static/js/dashboard.js")"></script>